.profile{
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    padding: 8px;
    border-radius: 12px;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.05);
    /* color: black; */
}


.ava {
    width: 38px;
    height: 38px;
    background-color: gray;
    border-radius: 9px;
}

/* .author{
    color: white;
} */

.author h3 {
    font-size: 14px;
    font-weight: 500;
}

.profile:hover {
    background-color: rgba(0, 0, 0, 0.1)
}